/* здесь используйте глобальные переменные */

/* device-width */
$mobile-width: 320px;
$mobile-width-only: 768px;
$tablet-width: 769px;
$desktop-width: 1440px;

/* colors */
$color-primary: #68b738;
$color-secondary: #f2f2f2;
$color-black: #000000;
$color-white: #ffffff;
$color-special-dark-grey: #444444;

/* background-color */
$background-color-primary: #68b738;
$background-color-secondary: #f2f2f2;
$background-color-black: #000000;
$background-color-white: #ffffff;
$background-color-special-dark-grey: #444444;

/* fonts */
$font-body: 400 1.6rem/1.25 "Lato", "Arial", sans-serif;
$font-title-normal: 400 6rem/1 "Oswald", "Arial", sans-serif;
$font-text-normal: 400 1.6rem/0.66 "Lato", "Arial", sans-serif;

/* mobile-fonts*/
$font-title-main-normal-mobile: 400 3.6rem/1 "Oswald", "Arial", sans-serif;
$font-title-normal-mobile: 400 3.6rem/1.11 "Oswald", "Arial", sans-serif;
$font-title-program-type-mobile: 400 2.4rem/1.54 "Oswald", "Arial", sans-serif;
$font-text-normal-mobile: 400 1.4rem/1.28 "Lato", "Arial", sans-serif;
$font-slogan-normal-mobile: 400 1.4rem/1 "Oswald", "Arial", sans-serif;
$font-nav-list-mobile: 500 2rem/1 "Oswald", "Arial", sans-serif;

/* tablet-fonts */
$font-title-main-normal-tablet: 400 6rem/1 "Oswald", "Arial", sans-serif;
$font-title-normal-tablet: 400 6rem/1 "Oswald", "Arial", sans-serif;
$font-title-program-type-tablet: 400 3.6rem/1 "Oswald", "Arial", sans-serif;
$font-text-normal-tablet: 400 1.6rem/1.5 "Lato", "Arial", sans-serif;
$font-slogan-normal-tablet: 400 2rem/1 "Oswald", "Arial", sans-serif;
$font-nav-list-tablet: 400 1.8rem/1.33 "Oswald", "Arial", sans-serif;
$font-advantages-number-tablet: 400 28rem/1 "Oswald", "Arial", sans-serif;

/* desktop-fonts */
$font-title-main-normal-desktop: 400 6rem/1 "Oswald", "Arial", sans-serif;
$font-title-normal-desktop: 400 6rem/1 "Oswald", "Arial", sans-serif;
$font-title-program-type-desktop: 400 3.6rem/1 "Oswald", "Arial", sans-serif;
$font-text-normal-desktop: 400 1.6rem/1.5 "Lato", "Arial", sans-serif;
$font-slogan-normal-desktop: 400 2rem/1 "Oswald", "Arial", sans-serif;
$font-nav-list-desktop: 400 2rem /1 "Oswald", "Arial", sans-serif;
$font-advantages-number-desktop: 400 28rem/1 "Oswald", "Arial", sans-serif;
