/* Здесь используются переменные */

/* === Viewports === */
$mobile-width: 320px;
$mobile-width-only: 768px;

$tablet-width: 769px;
$tablet-width-only: 1439px;

$desktop-width: 1440px;

/* === Colors === */
$color-1: #000000;
$color-2: #ffffff;
$color-3: #68b738;
$color-4: #f2f2f2;
$color-5: #444444;

/* === background-colors === */
$background-color-1: #000000;
$background-color-2: #ffffff;
$background-color-3: #68b738;
$background-color-4: #f2f2f2;
$background-color-5: #444444;
