/* Здесь используются переменные */

/* === Viewports === */
$mobile-width: 320px;
// $min-mobile-width: (
//   min-width: $mobile-width,
// );
$mobile-width-only: 768px;

$tablet-width: 769px;
// $min-tablet-width: (
//   min-width: $tablet-width,
// );
$tablet-width-only: 1439px;

$desktop-width: 1440px;
// $min-desktop-width: (
//   min-width: $desktop-width,
// );

/* === Colors === */
$color-1: #000000;
$color-2: #ffffff;
$color-3: #68b738;
$color-4: #f2f2f2;
$color-5: #444444;
$color-6: #eaeaea;
$color-7: #d9d9d9;
$color-8: #cdcdcd;
$color-9: #e6e6e6;
$color-10: #111111;
$color-11: #e7e7e7;
$color-12: #ff8282;
$color-13: #222222;

/* === background-colors === */
$background-color-1: #000000;
$background-color-2: #ffffff;
$background-color-3: #68b738;
$background-color-4: #f2f2f2;
$background-color-5: #444444;
$background-color-6: #eaeaea;
$background-color-7: #d9d9d9;
$background-color-8: #cdcdcd;
$background-color-9: #e6e6e6;
$background-color-10: #111111;
$background-color-11: #e7e7e7;
$background-color-12: #ff8282;
$background-color-13: #222222;

/* === fonts-mobile === */
$font-title-large-mobile: 200 3.6rem/1 "Oswald", Arial, sans-serif;
$font-title-medium-mobile: 200 2.4rem/1.54 "Oswald", Arial, sans-serif;

$font-text-medium-mobile: 200 1.4rem/1.28 "Lato", Arial, sans-serif;
$font-text-small-mobile: 200 1.2rem/1 "Lato", Arial, sans-serif;

$font-site-list-mobile: 500 2rem/1 "Oswald", Arial, sans-serif;

$font-slogan-title-mobile: 200 1.4rem/1 "Oswald", Arial, sans-serif;

$font-title-example-mobile: 200 2.4rem/1 "Oswald", Arial, sans-serif;
$font-result-example-mobile: 200 1.4rem/1.42 "Oswald", Arial, sans-serif;

$font-title-location-mobile: 200 1.6rem/1.25 "Oswald", Arial, sans-serif;

$font-label-text-mobile: 200 1.6rem/1.12 "Oswald", Arial, sans-serif;

$font-title-catalog-mobile: 200 1.6rem/1.25 "Oswald", Arial, sans-serif;

$font-text-gift-mobile: 200 1.6rem/1.25 "Lato", Arial, sans-serif;

$font-html-academy-mobile: 200 1.6rem / normal "Lato", Arial, sans-serif;

$font-button-index-primary-mobile: 200 1.4rem/1.28 "Oswald", Arial, sans-serif;
$font-button-primary-mobile: 200 1.6rem/1.25 "Oswald", Arial, sans-serif;
$font-button-secondary-mobile: 200 1.6rem/1 "Oswald", Arial, sans-serif;

/* === fonts-tablet === */
$font-title-large-tablet: 200 6rem/1 "Oswald", Arial, sans-serif;
$font-title-medium-tablet: 200 3.6rem/1 "Oswald", Arial, sans-serif;

$font-text-medium-tablet: 200 1.6rem/1.5 "Lato", Arial, sans-serif;
$font-text-small-tablet: 200 1.4rem/1 "Lato", Arial, sans-serif;

$font-site-list-tablet: 200 1.8rem/1.33 "Oswald", Arial, sans-serif;

$font-slogan-title-tablet: 200 2rem/1 "Oswald", Arial, sans-serif;

$font-title-example-tablet: 200 3rem/1.23 "Oswald", Arial, sans-serif;
$font-result-example-tablet: 200 2rem/1 "Oswald", Arial, sans-serif;

$font-title-location-tablet: 200 2rem/1.3 "Oswald", Arial, sans-serif;

$font-label-text-tablet: 200 2rem / normal "Oswald", Arial, sans-serif;

$font-title-catalog-tablet: 200 2rem/1.25 "Oswald", Arial, sans-serif;

$font-text-gift-tablet: 200 1.6rem/1.25 "Lato", Arial, sans-serif;

$font-html-academy-tablet: 200 1.6rem / normal "Lato", Arial, sans-serif;

$font-button-index-primary-tablet: 200 2rem/1 "Oswald", Arial, sans-serif;
$font-button-primary-tablet: 200 2rem/1 "Oswald", Arial, sans-serif;
$font-button-secondary-tablet: 200 2rem / normal "Oswald", Arial, sans-serif;

/* === fonts-desktop === */
$font-title-large-desktop: 200 6rem/1 "Oswald", Arial, sans-serif;
$font-title-medium-desktop: 200 3.6rem/1 "Oswald", Arial, sans-serif;

$font-text-medium-desktop: 200 1.6rem/1.5 "Lato", Arial, sans-serif;
$font-text-small-desktop: 200 1.4rem/1 "Lato", Arial, sans-serif;

$font-site-list-desktop: 200 2rem / normal "Oswald", Arial, sans-serif;

$font-slogan-title-desktop: 200 2rem/1 "Oswald", Arial, sans-serif;

$font-title-example-desktop: 200 3rem/1.23 "Oswald", Arial, sans-serif;
$font-result-example-desktop: 200 2rem/1 "Oswald", Arial, sans-serif;

$font-title-location-desktop: 200 2rem/1.3 "Oswald", Arial, sans-serif;

$font-label-text-desktop: 200 2rem / normal "Oswald", Arial, sans-serif;

$font-text-gift-desktop: 200 1.6rem/1.25 "Lato", Arial, sans-serif;

$font-html-academy-desktop: 200 1.6rem / normal "Lato", Arial, sans-serif;

$font-button-index-primary-desktop: 200 2rem/1 "Oswald", Arial, sans-serif;
$font-button-primary-desktop: 200 2rem/1 "Oswald", Arial, sans-serif;
$font-button-secondary-desktop: 200 2rem / normal "Oswald", Arial, sans-serif;

/* force-state elements */
$background-color-3-hover: #5eaa2f;
