.additional {
  padding: 0 0 33px;

  position: relative;

  &::before {
    content: "";
    display: block;

    width: 100%;
    height: 2px;

    position: absolute;
    top: 14px;
    left: 0;
    z-index: -1;

    background-color: $background-color-3;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 44px;
  }

  .additional__title {
    margin: 0 0 33px;
    padding: 0 0 0 20px;

    width: 181px;

    background-color: $background-color-2;

    @media (min-width: $tablet-width) {
      margin: 0 0 32px 30px;
      padding: 0 0 0 39px;

      width: 292px;

      position: relative;
      top: -17px;
    }
  }

  .additional__list {
    @include list-reset;

    @media (min-width: $tablet-width) {
      margin: 0 70px 0;

      width: 570px;

      display: flex;
      flex-wrap: wrap;
      gap: 22px 123px;
    }
  }

  .additional__item {
    margin: 0 0 13px;

    min-width: 221px;
    min-height: 30px;

    &:last-child {
      margin: 0;
    }
  }
}
