.button {
  @include link-reset;
  background-color: $background-color-3;
  color: $color-2;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $background-color-14;
  }

  &:active {
    color: rgba($color-2, 0.3);
  }
}
