.comments {
  padding: 0 0 22px;

  position: relative;

  &::before {
    content: "";
    display: block;

    width: 100%;
    height: 2px;

    position: absolute;
    top: 14px;
    left: 0;
    z-index: -1;

    background-color: $background-color-3;
  }
}

.comments__title {
  margin: 0 0 37px;
  padding: 0 0 0 20px;

  width: 161px;

  background-color: $background-color-2;

  @media (min-width: $tablet-width) {
    margin: 0 0 62px 30px;
    padding: 0 0 0 40px;

    width: 262px;

    position: relative;
    top: -17px;
  }
}

.comments__textarea {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 68px 0 70px;
  }
}
