.form {
  padding: 0 0 31px;

  @media (min-width: $tablet-width) {
    padding: 0 0 60px;
  }
}

.form__button {
  margin: 0 20px 22px;
  padding: 10px 44px;

  width: calc(100% - 40px);

  @media (min-width: $tablet-width) {
    margin: 0 55px 0 70px;

    width: 284px;
    min-height: 54px;

    font: $font-button-tablet;
  }
}

.form__section {
  @media (min-width: $tablet-width) {
    &:nth-child(2) {
      margin: 0 70px 45px;
    }
  }
}

.form__text-required {
  @include indent-reset;
  padding: 0 2px 0 0;

  font: $font-text-form-small-mobile;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline-block;

    position: relative;
    top: -5px;

    font: $font-text-form-small-tablet;
  }
}
