.gift {
  padding: 58px 0 43px;

  position: relative;

  width: 280px;
  min-height: 290px;

  background: url("../img/bg-gift-mobile.jpg") no-repeat center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 57px 78px 50px;

    display: flex;

    background: url("../img/bg-gift-tablet.jpg") no-repeat center;
    background-size: cover;

    width: 707px;
    min-height: 200px;
  }
}

.gift__icon {
  display: block;

  margin: 0 auto 48px;

  @media (min-width: $tablet-width) {
    margin: 0 266px 0 0;
  }
}

.gift__text {
  @include indent-reset;
  margin: 0 auto;

  width: 170px;

  font: $font-text-gift-mobile;
  color: $color-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 14px 0 0;

    text-align: left;
  }
}
