.info {
  padding: 0 0 23px;
  border-bottom: 1px solid $background-color-11;

  @media (min-width: $tablet-width) {
    padding: 0 0 72px;
    border-bottom: none;
  }
}

.info__list {
  @include list-reset;
}

.info__item {
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
  }
}
