.living-example {
  padding: 25px 0 39px;

  background-color: $background-color-12;

  @media (min-width: $tablet-width) {
    padding: 45px 0 0;
    border-top: 1px solid $background-color-9;

    background-color: $background-color-2;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    border-top: none;
  }
}

.living-example__block {
  @media (min-width: $desktop-width) {
    margin-bottom: -50px;
    padding: 0 110px 0;

    display: flex;
    justify-content: space-between;

    width: 100%;
    min-height: 461px;

    position: relative;

    background-color: $background-color-4;
  }
}

.living-example__wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 0 0 -610px;
    padding-top: 70px;
    padding-bottom: 70px;

    position: relative;
    z-index: 3;
    left: 50%;
  }
}

.living-example__title {
  @include margin-reset;
  margin-bottom: 40px;
  padding-left: 21px;

  font: $font-title-large-mobile;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;
    padding: 0 0 0 30px;

    font: $font-title-large-tablet;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 76px -610px;
    padding: 0 0 0 0;

    position: relative;
    left: 50%;

    max-width: 700px;
  }
}

.living-example__text {
  @include margin-reset;
  margin-bottom: 20px;
  padding-left: 20px;

  font: $font-text-medium-mobile;
  color: $color-5;

  min-height: 108px;

  @media (min-width: $tablet-width) {
    margin: 0 0 55px;
    padding: 0 30px 0;

    font: $font-text-medium-tablet;

    min-height: 73px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;
    padding: 0;

    max-width: 433px;
    min-height: auto;
  }
}

.living-example__description-container {
  @media (min-width: $tablet-width) {
    margin: 0 0 44px;
    padding: 0 30px 0;

    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;

    margin: 0;
    padding: 0;
  }
}

.living-example__list {
  margin: 0 20px 35px;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;

    width: 367px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;
  }
}

.living-example__item {
  text-align: center;

  position: relative;
}

.living-example__item:nth-child(2) .living-example__item-heading {
  margin: 0;
  padding: 13px 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 13px 29px 20px;

    width: 162px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 29px 20px;
  }
}

.living-example__item-heading {
  margin: 0 0 0;
  padding: 13px 30px 15px;

  border: 1px solid $background-color-13;
  border-radius: 5px;

  width: 124px;
  min-height: 56px;

  font: $font-title-living-example-heading-mobile;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 13px 30px 20px;

    width: 162px;

    font: $font-title-living-example-heading-tablet;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 30px 20px;
  }
}

.living-example__item-text {
  margin: -9px auto -16px;

  width: 81px;

  font: $font-text-small-mobile;
  color: $color-5;

  background-color: $background-color-12;

  @media (min-width: $tablet-width) {
    background-color: $background-color-2;

    width: auto;

    font: $font-text-small-tablet;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-color-4;
  }
}

.living-example__item:nth-child(1) .living-example__item-text {
  @media (min-width: $tablet-width) {
    margin: -10px auto -7px;
    padding: 0;

    width: 114px;
  }
}

.living-example__item:nth-child(2) .living-example__item-text {
  @media (min-width: $tablet-width) {
    margin: -10px auto -6px;
    padding: 0;

    width: 142px;
  }
}

.living-example__result {
  margin-bottom: 21px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 12px 0 0;
    margin: 0;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    display: flex;

    text-align: left;
  }
}

.living-example__result-expenses {
  font: $font-title-living-example-result-mobile;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;

    margin: 0 0 8px;

    font: $font-title-living-example-result-tablet;
  }

  @media (min-width: $desktop-width) {
    margin: 0 64px 0 0;
    padding: 0 0 0 2px;

    max-width: 173px;
  }
}

.living-example__result-price {
  font: $font-title-living-example-result-mobile;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;

    font: $font-title-living-example-result-tablet;

    max-width: 200px;
  }
}

.living-example__cat-result {
  @media (min-width: $tablet-width) {
    padding: 0 0 102px;

    position: relative;

    background-color: $background-color-7;

    &::before {
      content: "";

      width: 100%;
      height: 152px;

      background-color: $background-color-2;

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0;
    margin: 0 -610px 0 0;

    background-color: $background-color-4;

    top: -135px;
    right: 50%;
  }
}
