.main-header {
  &--line {
    border-bottom: 1px solid $background-color-11;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 30px 32px 66px 30px;

    min-height: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 0 33px;
    margin: 0 auto;

    width: 1220px;

    position: relative;
  }
}

.main-header__wrapper {
  padding: 65px 0 0;

  position: relative;

  background: url("../img/logo-text-mobile.svg") no-repeat center 23px;

  @media (min-width: $tablet-width) {
    padding: 0;

    background: none;
  }
}

.main-header__link {
  display: inline-block;

  position: absolute;
  top: 13px;
  left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    top: -8px;
    left: 0;

    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}
