.social {
  @include list-reset;
  margin: 0 auto 35px;
  padding: 4px 0 0;

  display: flex;
  column-gap: 26px;

  width: 48%;

  @media (min-width: $tablet-width) {
    margin: 0;

    justify-content: flex-start;
    flex-wrap: wrap;

    width: 132px;

    gap: 10px 22px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 21px;
  }
}

.social__link {
  display: block;

  color: $color-22;

  outline: none;

  &:hover {
    color: $color-3;
  }

  &:active {
    color: rgba($color-3, 30%);
  }

  &:focus-visible {
    color: $color-3;
  }
}
