.type-program {
  padding: 22px 0 18px;
  border-bottom: 1px solid $background-color-11;

  @media (min-width: $tablet-width) {
    padding: 27px 27px 21px;
    border: 1px solid $background-color-16;

    min-height: 196px;
  }
}

.type-program__list {
  @include list-reset;
}

.type-program__item {
  margin: 0 0 13px;

  &:last-child {
    margin: 0;
  }

  // @media (min-width: $tablet-width) {
  //   margin: 0 0 16px;
  // }
}
