.additionally__wrapper {
  width: $mobile-width;

  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    padding: 0 110px;
  }
}

.additionally__fields-container {
  @media (min-width: $tablet-width) {
    width: 533px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.additionally__send-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
