.cat-result {
  display: flex;

  position: relative;

  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.cat-result__image {
  &--thin {
    display: block;

    margin-right: 4px;
  }
}

.cat-result__arrow {
  @include button-reset;
  @include padding-reset;

  position: absolute;
  top: 0;
  left: 122px;

  background-color: transparent;

  @media (min-width: $tablet-width) {
    left: 262px;
  }
}

.cat-result__arrow-icon {
  &:first-of-type {
    @media (max-width: $mobile-width-only) {
      display: block;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-of-type {
    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
