.catalog-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 112px auto;

  background-color: $background-color-2;

  padding: 19px 20px 15px;

  width: 320px;
  min-height: 233px;

  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto;
    grid-template-rows: 161px auto auto;

    background-color: $background-color-4;

    width: 324px;
    min-height: 430px;

    padding: 0 36px 39px;
    border: 2px solid $background-color-4;

    &--show-more {
      background-color: $background-color-2;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 431px;
  }
}

.catalog-card__image {
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;

  &--show-more {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      margin-bottom: 34px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.catalog-card {
  &:nth-of-type(odd) {
    .catalog-card__image {
      @media (max-width: $mobile-width-only) {
        transform: translate(30px, 14px);
      }

      @media (min-width: $tablet-width) {
        top: -45px;
        left: 40px;
      }

      @media (min-width: $desktop-width) {
        top: -52px;
        left: 4px;
      }
    }
  }

  &:nth-of-type(even) {
    .catalog-card__image {
      @media (max-width: $mobile-width-only) {
        transform: translate(20px, 12px);
      }

      @media (min-width: $tablet-width) {
        top: -73px;
        left: 39px;
      }

      @media (min-width: $desktop-width) {
        top: -80px;
        left: 0;
      }

      &--show-more {
        transform: translate(124px, 5px);

        @media (min-width: $tablet-width) {
          transform: none;

          top: 52px;
          left: 94px;
        }

        @media (min-width: $desktop-width) {
          top: 51px;
          left: 54px;
        }
      }
    }
  }
}

.catalog-card__heading {
  @include indent-reset;

  margin-bottom: 13px;

  font: $font-title-catalog-mobile;
  text-transform: uppercase;

  min-width: 76px;
  max-width: 80px;

  grid-column: 2 / 3;
  grid-row: 1 / 2;

  &--show-more {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    margin-bottom: 0;

    max-width: 100%;

    text-align: center;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    margin: 0 auto;
    margin-bottom: 13px;

    max-width: 130px;

    font: $font-title-catalog-tablet;
    text-align: center;

    &--show-more {
      max-width: 135px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 145px;
  }
}

.catalog-card__compound-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.catalog-card__compound {
  display: flex;
  justify-content: space-between;

  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      display: block;

      width: 100%;
      height: 1px;

      background-color: $background-color-8;

      position: absolute;
      bottom: -8px;
    }

    &:not(:last-of-type) {
      margin-bottom: 14px;
    }
  }
}

.catalog-card__compound-item {
  font: $font-text-small-mobile;
  color: $color-5;
  line-height: 1.33;

  @media (min-width: $tablet-width) {
    font: $font-text-small-tablet;
    line-height: 1;
  }
}

.catalog-card__text {
  @include indent-reset;

  font: $font-text-small-mobile;
  line-height: 1.33;
  text-align: center;
  color: $color-5;

  &--show-more {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    font: $font-text-small-tablet;
    line-height: 1.12;

    max-width: 165px;

    justify-self: center;
  }
}

.catalog-card__button {
  display: block;

  padding: 10px 0;

  min-height: 40px;

  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: center;

  @include link-reset;
  font: $font-button-primary-mobile;
  color: $color-2;
  text-transform: uppercase;
  text-align: center;

  &--show-more {
    grid-column: 1 / -1;
    grid-row: 4 / 5;

    color: $color-5;

    &:hover:hover {
      background-color: $background-color-9;
    }

    &:active:active {
      color: rgba($color-5, 30%);
    }
  }

  &:hover {
    background-color: $background-color-3-hover;
  }

  &:active {
    color: rgba($color-2, 30%);
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    align-self: end;
  }
}
