.catalog-list {
  @include list-reset;
}

.catalog-list__item {
  padding: 19px 20px 15px;

  width: 320px;
  min-height: 233px;

  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 112px auto;

  position: relative;

  &:first-child {
    &::before,
    &::after {
      content: "";
      display: block;

      width: 320px;
      height: 1px;

      background-color: $background-color-9;

      position: absolute;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    &::after {
      content: "";
      display: block;

      width: 320px;
      height: 1px;

      background-color: $background-color-9;

      position: absolute;
      bottom: 0;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--show-more {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 430px;

    padding: 0 36px 39px;
    border: 2px solid $background-color-4;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 431px;
  }
}
