.catalog__wrapper {
  width: $mobile-width;

  margin-bottom: 25px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    margin-bottom: 68px;
    padding: 0 30px;
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    margin-bottom: 75px;
    padding: 0 110px;
    padding-top: 74px;
  }
}

.catalog__title {
  @include indent-reset;

  font: $font-title-large-mobile;

  margin-bottom: 41px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font: $font-title-large-tablet;

    margin-bottom: 163px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 165px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 141px 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 143px 80px;
  }
}
