.contact-details {
  position: relative;

  &::before {
    content: "";
    display: block;

    width: 100%;
    height: 2px;

    background-color: $background-color-3;

    position: absolute;
    top: 16px;
    z-index: 1;
  }
}

.contact-details__wrapper {
  width: $mobile-width;

  margin-bottom: 24px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    margin-bottom: 65px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    margin-bottom: 67px;
    padding: 0 110px;
  }
}

.contact-details__title {
  @include indent-reset;

  font: $font-title-medium-mobile;
  line-height: 1.08;

  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 14px;

  width: 221px;

  position: relative;
  left: -20px;
  z-index: 2;

  background-color: $background-color-2;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    padding-left: 40px;
    padding-right: 39px;

    width: 593px;

    left: -40px;

    font: $font-title-medium-tablet;
    line-height: 1;
  }
}

.contact-details__fields-container {
  &:invalid {
    .contact-details__field-input {
      outline: 2px solid $background-color-12;
    }
  }
}

.contact-details__field-label {
  position: relative;

  &:nth-of-type(1) {
    .contact-details__field-input {
      width: 220px;

      margin-bottom: 14px;

      @media (min-width: $tablet-width) {
        width: 548px;

        background-position: 510px 16px;

        margin-bottom: 20px;
      }

      @media (min-width: $desktop-width) {
        width: 486px;

        background-position: 448px 16px;

        margin-bottom: 0;
      }
    }
  }

  &:nth-of-type(2) {
    .contact-details__field-input {
      width: 203px;

      // background: url("../../img/phone-stroke.svg") no-repeat;
      // background-position: 167px 13px;

      @media (min-width: $tablet-width) {
        width: 527px;

        background-position: 491px 16px;
      }

      @media (min-width: $desktop-width) {
        width: 465px;

        background-position: 429px 16px;
      }
    }
  }
}

.contact-details__field-input {
  @include input-reset;
  border: 1px solid $background-color-11;
  padding: 14px 15px;
  padding-right: 45px;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
  }
}

.contact-details__input-text {
  display: block;

  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.contact-details__field-icon {
  position: absolute;
  top: 13px;
  right: 15px;

  @media (min-width: $tablet-width) {
    top: 16px;
    right: 18px;
  }
}
