.copyright__link {
  @include link-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  &:hover {
    path {
      fill: $background-color-3-hover;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}

.copyright__link-html-academy {
  font: $font-text-small-tablet;
  color: $color-5;
}
