.diet-type {
  width: 280px;
  min-height: 266px;

  background-color: $background-color-4;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 372px;

    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.diet-type__wrapper-title {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    margin-bottom: 39px;
  }
}

.diet-type__icon {
  position: relative;
  z-index: 1;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    order: 2;

    position: absolute;
    top: 92px;
    right: 62px;
  }

  @media (min-width: $desktop-width) {
    order: 2;

    position: static;

    margin-right: 62px;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;

    position: absolute;
    z-index: -1;

    background-color: $background-color-4;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
    }
  }
}

.diet-type__icons {
  display: inline-block;
  position: relative;
  top: -4px;
  right: -7px;

  @media (min-width: $tablet-width) {
    top: -10px;
    right: -30px;
  }

  @media (min-width: $desktop-width) {
    top: -8px;
    right: -13px;
  }
}

.diet-type__title {
  @include indent-reset;
  padding-top: 7px;

  font: $font-title-program-type-mobile;
  text-transform: uppercase;

  align-self: flex-start;

  @media (min-width: $tablet-width) {
    font: $font-title-program-type-tablet;

    margin-bottom: 24px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    order: 2;

    margin-bottom: 0;

    align-self: center;
  }
}

.diet-type__description {
  @include indent-reset;

  font: $font-text-normal-mobile;
  color: $color-6;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;

    margin-top: 23px;

    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font: $font-text-normal-tablet;
    color: $color-1;

    margin-bottom: 48px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 457px;

    font: $font-text-normal-desktop;
  }
}

.diet-type__image {
  display: block;
  margin-right: 33px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
