.field-input {
  font: $font-label-text-mobile;
  color: $color-5;
  text-transform: uppercase;

  &::placeholder {
    font: $font-label-text-mobile;
    text-transform: uppercase;
    color: $color-5;

    @media (min-width: $tablet-width) {
      font: $font-label-text-tablet;
    }
  }

  &:hover {
    border-color: $background-color-8;
  }

  &:focus-visible {
    outline: 2px solid $background-color-5;
    outline-offset: -1px;
  }

  @media (min-width: $tablet-width) {
    font: $font-label-text-tablet;
  }
}
