.field-label {
  display: flex;
  align-items: center;

  font: $font-label-text-mobile;
  color: $color-5;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font: $font-label-text-tablet;
  }

  &--black {
    color: $color-1;
  }
}
