.gift__image {
  width: 100%;
  min-height: 200px;

  object-fit: cover;
}

.gift__icon {
  position: absolute;
  top: 59px;
  left: 101px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 57px;
    left: 77px;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 84px;
  }
}

.gift__text {
  @include indent-reset;
  position: absolute;
  bottom: 43px;
  left: 58px;
  z-index: 2;

  width: 161px;

  font: $font-text-gift-mobile;
  color: $color-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 71px;
    left: 422px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    top: 185px;
    left: 41px;

    text-align: center;
  }
}
