.location__map {
  display: block;
  border: none;
  width: 100%;

  position: relative;

  @media (max-width: $mobile-width-only) {
    height: 362px;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
