.location__address-wrapper {
  width: $mobile-width;

  padding: 0 20px;
  margin: 0 auto;

  display: flex;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;

    padding: 0 80px;
  }
}
