.main-nav {
  display: flex;

  width: 320px;
  min-height: 65px;

  position: relative;

  @media (min-width: $tablet-width) {
    width: 769px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.main-nav__logo-wrapper {
  display: flex;
}

.main-nav__logo {
  display: block;

  @media (min-width: $tablet-width) {
    &:nth-child(2) {
      display: none;
    }
  }
}

.main-nav--closed {
  .main-nav__toggle {
    @include button-reset;

    order: 3;
    width: 24px;
    height: 2px;
    background-color: $color-black;
    box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;

    position: absolute;
    top: 24px;
    right: 20px;
  }
}

.main-nav--opened {
  .main-nav__toggle {
    @include button-reset;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 2px;
      background-color: $background-color-black;

      position: absolute;
      top: 32px;
      right: 20px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
