.main-header__wrapper {
  display: flex;
  flex-direction: column;

  position: relative;

  &--border-bottom {
    border-bottom: 1px solid $background-color-7;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    &--picture {
      background: url("../../img/header-background-desktop.jpg") no-repeat;
      background-position: top right;
      background-size: 720px 694px;

      &::after {
        content: "";
        display: block;
        width: 720px;
        height: 694px;

        background-color: rgba($background-color-3, 85%);

        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

.main-header__container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0 20px;

  width: $mobile-width;
  min-height: 65px;

  background-color: $background-color-2;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    margin-top: 53px;
    padding: 0 110px;

    background: transparent;

    z-index: 3;
  }
}

.main-header__icon-logo {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__name-logo {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
