.nav-list {
  @include list-reset;

  font: $font-nav-list-mobile;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font: $font-nav-list-tablet;
  }

  @media (min-width: $desktop-width) {
    font: $font-nav-list-desktop;
  }
}

.nav-list__link {
  @include link-reset;
}
