.program {
  background-image: url("../../img/bg-header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/bg-header-mobile-2x.jpg");
  }

  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  &::before {
    content: "";
    display: block;

    width: 320px;
    height: 302px;

    background-color: rgba($background-color-3, 85%);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      width: 720px;
      height: 694px;

      left: 0;
      right: 0;
    }
  }
}

.program__wrapper {
  width: $mobile-width;

  display: flex;
  flex-direction: column;

  padding: 0 20px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    padding: 0 30px;
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 576px;

    flex-direction: row;

    padding: 0 110px;
    padding-top: 32px;
  }
}

.program__wrapper-description {
  @media (min-width: $tablet-width) {
    padding-left: 88px;

    position: relative;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
    padding-left: 80px;
  }
}

.program__title {
  @include indent-reset;
  font: $font-title-large-mobile;
  text-align: center;
  color: $color-2;

  position: relative;
  z-index: 2;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font: $font-title-large-tablet;
    color: $color-1;
    text-align: left;

    width: 416px;

    margin-bottom: 41px;
  }
}

.program__slogan {
  @include indent-reset;

  font: $font-slogan-title-mobile;
  text-transform: uppercase;
  color: $color-2;
  text-align: center;

  position: relative;
  z-index: 2;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 302px;
  }

  @media (min-width: $tablet-width) {
    color: $color-1;
    text-align: left;
    font: $font-slogan-title-tablet;

    margin-bottom: 49px;
  }
}

.program__link {
  @include link-reset;
  display: block;

  padding: 10px 44px;

  box-sizing: content-box;

  font: $font-button-index-primary-mobile;
  color: $color-2;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $background-color-3-hover;
  }

  &:active {
    color: rgba($color-2, 30%);
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 190px;

    padding: 14px 26px;

    font: $font-button-index-primary-tablet;
  }
}

.program__image {
  position: relative;
  z-index: 2;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 167px;
  }

  @media (min-width: $tablet-width) {
    z-index: 1;
    top: -80px;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    top: 0;
    left: -47px;
  }
}
