.program-types__wrapper {
  margin-bottom: 20px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;

    flex-direction: row;
  }
}

.program-types__diet-type {
  margin-bottom: 20px;
}
