.textarea {
  @include textarea-reset;

  width: 280px;
  height: 151px;

  border: 1px solid $background-color-11;
  padding: 9px 15px;

  font: $font-label-text-mobile;
  text-transform: uppercase;
  color: $color-5;

  &::placeholder {
    font: $font-label-text-mobile;
    text-transform: uppercase;
    color: $color-5;

    @media (min-width: $tablet-width) {
      font: $font-label-text-tablet;
      line-height: 1.5;
    }
  }

  &:hover {
    border-color: $background-color-8;
  }

  &:focus-visible {
    outline: 2px solid $background-color-5;
    outline-offset: -1px;
  }

  @media (min-width: $tablet-width) {
    width: 631px;
    height: 174px;

    padding: 10px 19px;

    font: $font-label-text-tablet;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
