.work-principle-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 37px 100px;
  }
}

.work-principle-list__item {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}
