// Начните писать переменные здесь

/* view-ports */
$mobile-width: 320px;
$mobile-width-only: 768px;

$tablet-width: 769px;
$tablet-width-only: 1439px;

$desktop-width: 1440px;

/* font-color */
$color-1: #000000;
$color-2: #ffffff;
$color-3: #68b738;
$color-4: #f2f2f2;
$color-5: #444444;
$color-6: #111111;
$color-7: #eaeaea;
$color-8: #222222;
$color-9: #e6e6e6;
$color-10: #62a53a;
$color-11: #d9d9d9;
$color-12: #eaeaea;
$color-13: #cdcdcd;
$color-14: #5eaa2f;
$color-15: #64a63b;

/* background-color */
$background-color-1: #000000;
$background-color-2: #ffffff;
$background-color-3: #68b738;
$background-color-4: #f2f2f2;
$background-color-5: #444444;
$background-color-6: #111111;
$background-color-7: #eaeaea;
$background-color-8: #222222;
$background-color-9: #e6e6e6;
$background-color-10: #62a53a;
$background-color-11: #d9d9d9;
$background-color-12: #eaeaea;
$background-color-13: #cdcdcd;
$background-color-14: #5eaa2f;
$background-color-15: #64a63b;

/* button-fonts */
$font-button-nutrition-mobile: 400 1.4rem/1.28 "Oswald", "Arial", sans-serif;
$font-button-nutrition-tablet: 400 2rem/1 "Oswald", "Arial", sans-serif;
$font-button-nutrition-desktop: 400 2rem/1 "Oswald", "Arial", sans-serif;

$font-button-catalog-mobile: 400 1.6rem/1.25 "Oswald", "Arial", sans-serif;
$font-button-catalog-tablet: 400 1.6rem/1.25 "Oswald", "Arial", sans-serif;
$font-button-catalog-desktop: 400 1.6rem/1.25 "Oswald", "Arial", sans-serif;

/* main-nav fonts */
$font-text-nav-list-mobile: 500 2rem/1 "Oswald", "Arial", sans-serif;
$font-text-nav-list-tablet: 400 1.8rem/1.33 "Oswald", "Arial", sans-serif;
$font-text-nav-list-desktop: 400 2rem / normal "Oswald", "Arial", sans-serif;

/* location-fonts */
$font-title-location-mobile: 400 1.6rem/1.25 "Oswald", "Arial", sans-serif;
$font-title-location-tablet: 400 2rem/1.3 "Oswald", "Arial", sans-serif;
$font-title-location-desktop: 400 2rem/1.3 "Oswald", "Arial", sans-serif;

$font-text-location-mobile: 400 1.4rem/1.42 "Lato", "Arial", sans-serif;
$font-text-location-tablet: 400 1.6rem/1.25 "Lato", "Arial", sans-serif;
$font-text-location-desktop: 400 1.6rem/1.25 "Lato", "Arial", sans-serif;

/* nutrition-fonts */
$font-text-nutrition-mobile: 400 1.4rem/1 "Oswald", "Arial", sans-serif;
$font-text-nutrition-tablet: 400 2rem/1 "Oswald", "Arial", sans-serif;
$font-text-nutrition-desktop: 400 2rem/1 "Oswald", "Arial", sans-serif;

/* program-type fonts */
$font-button-program-type-mobile: 400 1.6rem/1 "Oswald", "Arial", sans-serif;
$font-button-program-type-tablet: 400 2rem / normal "Oswald", "Arial",
  sans-serif;
$font-button-program-type-desktop: 400 2rem / normal "Oswald", "Arial",
  sans-serif;

/* work-principle fonts */
$font-number-work-principle-tablet: 400 28rem/1 "Oswald", "Arial", sans-serif;
$font-number-work-principle-desktop: 400 28rem/1 "Oswald", "Arial", sans-serif;

/* living-example fonts */
$font-title-living-example-heading-mobile: 400 2.4rem/1 "Oswald", "Arial",
  sans-serif;
$font-title-living-example-heading-tablet: 400 3rem/1.23 "Oswald", "Arial",
  sans-serif;
$font-title-living-example-heading-desktop: 400 3rem/1.23 "Oswald", "Arial",
  sans-serif;

$font-title-living-example-result-mobile: 400 1.4rem/1.42 "Oswald", "Arial",
  sans-serif;
$font-title-living-example-result-tablet: 400 2rem/1 "Oswald", "Arial",
  sans-serif;
$font-title-living-example-result-desktop: 400 2rem/1 "Oswald", "Arial",
  sans-serif;

/* html-academy-logo fonts */
$font-html-academy-logo: 400 1.6rem / normal "Lato", "Arial", sans-serif;

/* catalog-card fonts */
$font-heading-catalog-card-mobile: 400 1.6rem/1.25 "Oswald", "Arial", sans-serif;
$font-heading-catalog-card-tablet: 400 2rem/1.2 "Oswald", "Arial", sans-serif;
$font-heading-catalog-card-desktop: 400 2rem/1.05 "Oswald", "Arial", sans-serif;

$font-text-catalog-card-mobile: 400 1.2rem/1.33 "Lato", "Arial", sans-serif;
$font-text-catalog-card-tablet: 400 1.6rem/1 "Lato", "Arial", sans-serif;
$font-text-catalog-card-desktop: 400 1.6rem/1 "Lato", "Arial", sans-serif;

/* additonal-products fonts */
$font-heading-additional-products-mobile: 400 1.6rem/1 "Oswald", "Arial",
  sans-serif;
$font-heading-additional-products-tablet: 400 2rem/1 "Oswald", "Arial",
  sans-serif;
$font-heading-additional-products-desktop: 400 2rem/1 "Oswald", "Arial",
  sans-serif;

$font-text-additional-products-mobile: 400 1.4rem/1 "Lato", "Arial", sans-serif;
$font-text-additional-products-tablet: 400 1.6rem/1.25 "Lato", "Arial",
  sans-serif;
$font-text-additional-products-desktop: 400 1.6rem/1.25 "Lato", "Arial",
  sans-serif;

$font-text-gift-mobile: 400 1.6rem/1.25 "Lato", "Arial", sans-serif;
$font-text-gift-tablet: 400 1.6rem/1.25 "Lato", "Arial", sans-serif;
$font-text-gift-desktop: 400 1.6rem/1.25 "Lato", "Arial", sans-serif;

/* label-fonts */
$font-label-mobile: 400 1.6rem/1.12 "Oswald", "Arial", sans-serif;
$font-label-tablet: 400 2rem / normal "Oswald", "Arial", sans-serif;
$font-label-desktop: 400 2rem / normal "Oswald", "Arial", sans-serif;

/* title-fonts */
$font-title-x-large-mobile: 400 3.6rem/1 "Oswald", "Arial", sans-serif;
$font-title-x-large-tablet: 400 6rem/1 "Oswald", "Arial", sans-serif;
$font-title-x-large-desktop: 400 6rem/1 "Oswald", "Arial", sans-serif;

$font-title-large-mobile: 400 3.6rem/1.11 "Oswald", "Arial", sans-serif;
$font-title-large-tablet: 400 6rem/1 "Oswald", "Arial", sans-serif;
$font-title-large-desktop: 400 6rem/1 "Oswald", "Arial", sans-serif;

$font-title-medium-mobile: 400 2.4rem/1.54 "Oswald", "Arial", sans-serif;
$font-title-medium-tablet: 400 3.6rem/1 "Oswald", "Arial", sans-serif;
$font-title-medium-desktop: 400 3.6rem/1 "Oswald", "Arial", sans-serif;

/* text-fonts */
$font-text-medium-mobile: 400 1.4rem/1.28 "Lato", "Arial", sans-serif;
$font-text-medium-tablet: 400 1.6rem/1.5 "Lato", "Arial", sans-serif;
$font-text-medium-desktop: 400 1.6rem/1.5 "Lato", "Arial", sans-serif;

$font-text-small-mobile: 400 1.2rem/1 "Lato", "Arial", sans-serif;
$font-text-small-tablet: 400 1.4rem/1 "Lato", "Arial", sans-serif;
$font-text-small-desktop: 400 1.4rem/1 "Lato", "Arial", sans-serif;
