@charset "UTF-8";
/* Начните писать стили здесь */
/* Global */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
/* Здесь используются переменные */
/* === Viewports === */
/* === Colors === */
/* Здесь используются переменные */
/* === Viewports === */
/* === Colors === */
/* === background-colors === */
/* === background-colors === */
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Utils */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

/* Blocks */
.additionally__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .additionally__wrapper {
    width: 769px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .additionally__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

@media (min-width: 769px) {
  .additionally__fields-container {
    width: 533px;
  }
}
@media (min-width: 1440px) {
  .additionally__fields-container {
    width: 1220px;
  }
}

.additionally__send-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .additionally__send-container {
    flex-direction: row;
  }
}

.work-principle-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 769px) {
  .work-principle-list {
    flex-direction: row;
    gap: 37px 100px;
  }
}

.work-principle-list__item {
  width: 280px;
}
@media (min-width: 769px) {
  .work-principle-list__item {
    width: 245px;
  }
}
@media (min-width: 1440px) {
  .work-principle-list__item {
    width: 230px;
  }
}

.work-principle__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .work-principle__wrapper {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .work-principle__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

.cat-result {
  display: flex;
  flex-wrap: wrap;
}

.comment__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .comment__wrapper {
    width: 769px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .comment__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

.contact-details__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .contact-details__wrapper {
    width: 769px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .contact-details__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

.copyright__link {
  color: #000000;
  text-decoration: none;
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 1440px) {
  .example {
    background-color: #f2f2f2;
  }
}

.example__wrapper {
  width: 320px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 769px) {
  .example__wrapper {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    width: 1440px;
    padding: 0 110px;
    flex-direction: row;
  }
}

.example__text {
  width: 280px;
}
@media (min-width: 769px) {
  .example__text {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    width: 436px;
  }
}

.example__list {
  display: flex;
}

.location__address-wrapper {
  width: 320px;
  min-height: 112px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
}
.location__address-wrapper--grey {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .location__address-wrapper--grey {
    background-color: #ffffff;
  }
}
@media (min-width: 769px) {
  .location__address-wrapper {
    width: 769px;
    height: 199px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .location__address-wrapper {
    width: 565px;
    padding: 0 80px;
  }
}

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: 320px;
  min-height: 240px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .main-footer__wrapper {
    width: 769px;
    min-height: 147px;
    padding: 55px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1440px;
    min-height: 169px;
    padding: 66px 110px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
}

.main-header__container-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}
@media (min-width: 769px) {
  .main-header__container-nav {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .main-header__container-nav {
    width: 1440px;
    padding: 0 110px;
  }
}

.main-nav {
  display: flex;
}

.main-nav__toggle {
  order: 3;
}
@media (min-width: 769px) {
  .main-nav__toggle {
    display: none;
  }
}

.map__image {
  display: block;
  margin: 0 auto;
}

.program-selection__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .program-selection__wrapper {
    width: 769px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .program-selection__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

.program-type {
  width: 280px;
  background-color: #f2f2f2;
}
@media (min-width: 769px) {
  .program-type {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .program-type {
    width: 570px;
  }
}

.program-types__wrapper {
  width: 320px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .program-types__wrapper {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .program-types__wrapper {
    width: 1440px;
    padding: 0 110px;
    flex-direction: row;
  }
}

.program-types__type {
  width: 280px;
}
@media (min-width: 769px) {
  .program-types__type {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .program-types__type {
    width: 570px;
  }
}

.program__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .program__wrapper {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .program__wrapper {
    width: 1440px;
    flex-direction: row;
    padding: 0 110px;
  }
}

.program__link {
  color: #000000;
  text-decoration: none;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .site-list {
    width: 440px;
  }
}
@media (min-width: 1440px) {
  .site-list {
    min-width: 478px;
    max-width: 550px;
  }
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.social__link {
  color: #000000;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */