@charset "UTF-8";
/* Начните писать стили здесь */
/* Global */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
/* Здесь используются переменные */
/* === Viewports === */
/* === Colors === */
/* === background-colors === */
/* === fonts-mobile === */
/* === fonts-tablet === */
/* === fonts-desktop === */
/* force-state elements */
:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Utils */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

/* Blocks */
.additional-product-list__item {
  width: 280px;
  min-height: 98px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto auto auto;
}
@media (min-width: 769px) {
  .additional-product-list__item {
    width: 708px;
    min-height: 139px;
  }
}
@media (min-width: 1440px) {
  .additional-product-list__item {
    width: 896px;
    min-height: 72px;
  }
}

.additional-product__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .additional-product__wrapper {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .additional-product__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

.additional-product__content-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .additional-product__content-wrapper {
    flex-direction: row;
  }
}

.additional-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additionally__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .additionally__wrapper {
    width: 769px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .additionally__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

@media (min-width: 769px) {
  .additionally__fields-container {
    width: 533px;
  }
}
@media (min-width: 1440px) {
  .additionally__fields-container {
    width: 1220px;
  }
}

.additionally__field-label {
  width: 220px;
}

.additionally__send-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .additionally__send-container {
    flex-direction: row;
  }
}

.work-principle-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 769px) {
  .work-principle-list {
    flex-direction: row;
    gap: 37px 100px;
  }
}
@media (min-width: 1440px) {
  .work-principle-list {
    column-gap: 82px;
  }
}

.work-principle-list__item {
  display: grid;
  grid-template-columns: 60px 200px;
  column-gap: 20px;
  width: 280px;
  position: relative;
}
.work-principle-list__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .work-principle-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 769px) {
  .work-principle-list__item {
    width: 245px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
  }
  .work-principle-list__item:nth-child(1) {
    width: 230px;
  }
  .work-principle-list__item:nth-child(1)::after {
    content: "1";
    font: 200 28rem/1 "Oswald", Arial, sans-serif;
    color: #f2f2f2;
    position: absolute;
    top: -38px;
    right: 7px;
    z-index: 1;
  }
  .work-principle-list__item:nth-child(2) {
    width: 246px;
  }
  .work-principle-list__item:nth-child(2)::after {
    content: "2";
    font: 200 28rem/1 "Oswald", Arial, sans-serif;
    color: #f2f2f2;
    position: absolute;
    top: -40px;
    right: -3px;
    z-index: 1;
  }
  .work-principle-list__item:nth-child(3) {
    width: 247px;
  }
  .work-principle-list__item:nth-child(3)::after {
    content: "3";
    font: 200 28rem/1 "Oswald", Arial, sans-serif;
    color: #f2f2f2;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: 1;
  }
  .work-principle-list__item:nth-child(4) {
    width: 249px;
  }
  .work-principle-list__item:nth-child(4)::after {
    content: "4";
    font: 200 28rem/1 "Oswald", Arial, sans-serif;
    color: #f2f2f2;
    position: absolute;
    top: -38px;
    right: 0;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .work-principle-list__item {
    width: 230px;
  }
  .work-principle-list__item:nth-child(2) {
    right: 1px;
  }
}

.work-principle-list__icon-container {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  position: relative;
  z-index: 2;
}
@media (min-width: 769px) {
  .work-principle-list__icon-container {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}
.work-principle-list__icon-container--leaf .work-principle-list__icon {
  position: absolute;
  top: 17px;
  left: 18px;
}
@media (min-width: 769px) {
  .work-principle-list__icon-container--leaf .work-principle-list__icon {
    top: 26px;
    left: 28px;
  }
}
.work-principle-list__icon-container--cutlery .work-principle-list__icon {
  position: absolute;
  top: 15px;
  left: 17px;
}
@media (min-width: 769px) {
  .work-principle-list__icon-container--cutlery .work-principle-list__icon {
    top: 25px;
    left: 28px;
  }
}

.work-principle-list__description {
  margin: 0;
  padding: 0;
  color: #444444;
  position: relative;
  z-index: 2;
}

@media (min-width: 769px) and (max-width: 1439px) {
  .work-principle::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin-bottom: 30px;
  }
}

.work-principle__wrapper {
  width: 320px;
  margin-bottom: 49px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .work-principle__wrapper {
    width: 769px;
    margin-bottom: 49px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .work-principle__wrapper {
    width: 1440px;
    margin-bottom: 69px;
    padding: 0 110px;
  }
}

.work-principle__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .work-principle__title {
    margin-bottom: 72px;
  }
}

.button {
  border: none;
  cursor: pointer;
  padding: 0;
  color: #000000;
  text-decoration: none;
}
.button--primary {
  background-color: #68b738;
}

.cat-result {
  display: flex;
  flex-wrap: wrap;
}

.catalog__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .catalog__wrapper {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

@media (min-width: 769px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 141px 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    gap: 143px 80px;
  }
}

.catalog-card {
  background-color: #ffffff;
}
@media (min-width: 769px) {
  .catalog-card {
    background-color: #f2f2f2;
  }
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-list__item {
  width: 280px;
  min-height: 190px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto auto;
}
@media (min-width: 769px) {
  .catalog-list__item {
    width: 324px;
    min-height: 430px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item {
    width: 245px;
    min-height: 431px;
  }
}

.comment__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .comment__wrapper {
    width: 769px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .comment__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

.contact-details__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .contact-details__wrapper {
    width: 769px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .contact-details__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

.copyright__link {
  color: #000000;
  text-decoration: none;
}

.description--small {
  font: 400 1.4rem/1.28 "Lato", Arial, sans-serif;
}
@media (min-width: 769px) {
  .description--small {
    font: 400 1.6rem/1.5 "Lato", Arial, sans-serif;
  }
}
.description--extra-small {
  font: 200 1.2rem/1 "Lato", Arial, sans-serif;
}
@media (min-width: 769px) {
  .description--extra-small {
    font: 200 1.4rem/1 "Lato", Arial, sans-serif;
  }
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 769px) {
  .example {
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example {
    background-color: #f2f2f2;
  }
}

.example__wrapper {
  width: 320px;
  padding: 0 20px;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 769px) {
  .example__wrapper {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    width: 1440px;
    padding: 0 110px;
    flex-direction: row;
  }
}

.example__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .example__title {
    margin-bottom: 63px;
  }
}

.example__text {
  margin: 0;
  padding: 0;
  width: 280px;
  color: #444444;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .example__text {
    width: 708px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    width: 436px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}
@media (min-width: 769px) {
  .example__list {
    width: 366px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .example__list {
    margin-bottom: 60px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  position: relative;
  width: 124px;
  min-height: 56px;
}
@media (min-width: 769px) {
  .example__item {
    width: 162px;
    min-height: 77px;
  }
}
@media (min-width: 769px) {
  .example__item:first-child .example__description {
    width: 110px;
    bottom: -6px;
  }
}
@media (min-width: 769px) {
  .example__item:last-child .example__description {
    width: 135px;
    bottom: -7px;
  }
}

.example__heading {
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}

.example__description {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;
  position: absolute;
  bottom: -16px;
  width: 84px;
}
@media (min-width: 769px) {
  .example__description {
    background-color: #ffffff;
  }
  .example__description br {
    display: none;
  }
}
@media (min-width: 1440px) {
  .example__description {
    background-color: #f2f2f2;
  }
}

@media (min-width: 769px) {
  .example__description-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__description-content {
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__result {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .example__result {
    margin-bottom: 0;
    flex-direction: column;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .example__result {
    flex-direction: row;
  }
}

.example__expenses {
  margin: 0;
  padding: 0;
  font: 200 1.4rem/1.42 "Oswald", Arial, sans-serif;
  text-transform: uppercase;
  margin-right: 3px;
}
@media (min-width: 769px) {
  .example__expenses {
    margin-right: 0;
    margin-bottom: 9px;
    font: 200 2rem/1 "Oswald", Arial, sans-serif;
  }
}
@media (min-width: 1440px) {
  .example__expenses {
    margin-bottom: 0;
    margin-right: 63px;
  }
}

.example__price {
  font: 200 1.4rem/1.42 "Oswald", Arial, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .example__price {
    font: 200 2rem/1 "Oswald", Arial, sans-serif;
  }
}

.fields-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .fields-container--contacts {
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  .fields-container--additionally {
    flex-direction: row;
  }
}

.location__wrapper {
  position: relative;
}

.location__address-wrapper {
  width: 320px;
  min-height: 112px;
  padding: 20px 26px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
@media (min-width: 769px) {
  .location__address-wrapper {
    width: 769px;
    min-height: 199px;
    justify-content: space-between;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .location__address-wrapper {
    width: 565px;
    padding: 56px 60px 56px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.location__address-wrapper-title {
  margin: 0;
  padding: 0;
  font: 200 1.6rem/1.25 "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
  width: 139px;
  margin-right: 15px;
}
@media (min-width: 769px) {
  .location__address-wrapper-title {
    font-size: 2rem;
    line-height: 1.3;
  }
}

.location__address {
  font: 400 1.4rem/1.28 "Lato", Arial, sans-serif;
  line-height: 1.42;
  color: #444444;
}
@media (min-width: 769px) {
  .location__address {
    font: 400 1.6rem/1.5 "Lato", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.25;
    text-align: right;
    width: 160px;
  }
}
@media (min-width: 769px) {
  .location__address {
    text-align: left;
  }
}

.location__address-place {
  margin: 0;
  padding: 0;
}
@media (min-width: 769px) {
  .location__address-place {
    margin-bottom: 26px;
  }
}

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: 320px;
  min-height: 240px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .main-footer__wrapper {
    width: 769px;
    min-height: 147px;
    padding: 55px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1440px;
    min-height: 169px;
    padding: 66px 110px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 1440px;
  }
  .main-header__wrapper--picture {
    background: url("../../img/header-background-desktop.jpg") no-repeat;
    background-position: top right;
    background-size: 720px 694px;
  }
  .main-header__wrapper--picture::after {
    content: "";
    display: block;
    width: 720px;
    height: 694px;
    background-color: rgba(104, 183, 56, 0.85);
    position: absolute;
    top: 0;
    right: 0;
  }
}

.main-header__container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
  min-height: 65px;
  background-color: #ffffff;
}
@media (min-width: 769px) {
  .main-header__container-nav {
    width: 769px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .main-header__container-nav {
    width: 1440px;
    margin-top: 53px;
    padding: 0 110px;
    background: transparent;
    z-index: 3;
  }
}

@media (min-width: 769px) {
  .main-header__icon-logo {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-header__icon-logo {
    width: 202px;
    height: 59px;
  }
}

@media (min-width: 769px) {
  .main-header__name-logo {
    display: none;
  }
}

.main-nav {
  display: flex;
  position: relative;
}

.main-nav__toggle {
  border: none;
  cursor: pointer;
  padding: 0;
  display: block;
  margin-top: -15px;
  width: 24px;
  height: 20px;
  background-color: transparent;
  order: 3;
}
@media (min-width: 769px) {
  .main-nav__toggle {
    display: none;
  }
}

/* Закрытое меню */
.main-nav--closed .main-nav__toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}

/* Открытое меню */
.main-nav--opened .main-nav__toggle {
  margin-top: -3px;
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  display: block;
  background-color: #000000;
  width: 24px;
  height: 2px;
  position: absolute;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav--opened .main-nav__list {
  display: block;
  position: absolute;
  top: 39px;
  left: -276px;
  z-index: 3;
}
@media (min-width: 769px) {
  .main-nav--opened .main-nav__list {
    display: none;
  }
}

.main-nav--opened .site-list__item:not(:first-child) {
  border-bottom: 1px solid #eaeaea;
}
.main-nav--opened .site-list__item:first-child {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.main-nav--opened .site-list__link {
  display: block;
  padding: 22px 60px 24px;
  width: 320px;
  min-height: 66px;
  background-color: #ffffff;
  font: 500 2rem/1 "Oswald", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.map__iframe {
  display: block;
  width: 100%;
  border: none;
}

.program-selection__wrapper {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .program-selection__wrapper {
    width: 769px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .program-selection__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}

.program-type {
  width: 280px;
  min-height: 266px;
  padding: 25px 20px 18px;
  background-color: #f2f2f2;
}
@media (min-width: 769px) {
  .program-type {
    width: 708px;
    min-height: 372px;
    padding: 77px 62px 53px 53px;
  }
}
@media (min-width: 1440px) {
  .program-type {
    width: 570px;
    min-height: 374px;
    padding: 47px 52px 55px;
  }
}

.program-type__content {
  display: flex;
  flex-direction: column;
}

.program-type__wrapper-name {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
@media (min-width: 769px) {
  .program-type__wrapper-name {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .program-type__wrapper-name {
    margin-bottom: 39px;
  }
}

.program-type__icon {
  margin-right: 19px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 769px) {
  .program-type__icon {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 92px;
    right: 62px;
  }
}
@media (min-width: 1440px) {
  .program-type__icon {
    width: 100px;
    height: 100px;
    margin-right: 62px;
    position: static;
  }
}

.program-type__title {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .program-type__title {
    margin-bottom: 22px;
  }
}
@media (min-width: 1440px) {
  .program-type__title {
    margin-bottom: 0;
  }
}

.program-type__description {
  margin: 0;
  padding: 0;
  color: #444444;
}
.program-type__description::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 23px;
  margin-bottom: 16px;
}
@media (min-width: 769px) {
  .program-type__description::after {
    display: none;
  }
}
@media (min-width: 769px) {
  .program-type__description {
    color: #000000;
    width: 340px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .program-type__description {
    width: auto;
    margin-bottom: 23px;
  }
}

.program-type__link {
  display: inline-flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.program-type__link:hover {
  opacity: 0.3;
}
@media (max-width: 768px) {
  .program-type__link {
    width: 134px;
  }
}
@media (min-width: 1440px) {
  .program-type__link {
    width: 168px;
  }
}

.program-type__link-text {
  display: inline-block;
  margin-right: 15px;
  font: 200 1.6rem/1 "Oswald", Arial, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .program-type__link-text {
    margin-right: 25px;
    font: 200 2rem/normal "Oswald", Arial, sans-serif;
  }
}

.program-types__wrapper {
  width: 320px;
  margin-bottom: 20px;
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 769px) {
  .program-types__wrapper {
    width: 769px;
    margin-bottom: 45px;
    padding: 0 30px;
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .program-types__wrapper {
    width: 1440px;
    margin-bottom: 71px;
    padding: 0 110px;
    padding-top: 82px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.program-types__type {
  width: 280px;
  position: relative;
}
.program-types__type--weight-loss {
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .program-types__type--weight-loss {
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .program-types__type--weight-loss {
    margin-bottom: 0;
  }
}
@media (min-width: 769px) {
  .program-types__type {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .program-types__type {
    width: 570px;
  }
}

.program {
  background-image: url("../../img/header-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  position: relative;
}
@media (min-width: 769px) {
  .program {
    background-image: none;
  }
}
.program::before {
  content: "";
  display: block;
  width: 320px;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (min-width: 769px) {
  .program::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .program::before {
    width: 720px;
    height: 694px;
    left: 0;
    right: 0;
  }
}

.program__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 27px;
}
@media (min-width: 769px) {
  .program__wrapper {
    width: 769px;
    padding: 0 30px;
    padding-top: 62px;
  }
}
@media (min-width: 1440px) {
  .program__wrapper {
    width: 1440px;
    min-height: 576px;
    flex-direction: row;
    padding: 0 110px;
    padding-top: 32px;
  }
}

@media (min-width: 769px) {
  .program__wrapper-description {
    padding-left: 88px;
  }
}
@media (min-width: 1440px) {
  .program__wrapper-description {
    padding-left: 80px;
  }
}

.program__title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 2;
  margin-bottom: 25px;
}
@media (min-width: 769px) {
  .program__title {
    color: #000000;
    text-align: left;
    width: 416px;
    margin-bottom: 41px;
  }
}

.program__slogan {
  margin: 0;
  padding: 0;
  font: 200 1.4rem/1 "Oswald", Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .program__slogan {
    margin-bottom: 302px;
  }
}
@media (min-width: 769px) {
  .program__slogan {
    color: #000000;
    text-align: left;
    font: 200 2rem/1 "Oswald", Arial, sans-serif;
    margin-bottom: 49px;
  }
}

.program__link {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 10px 44px;
  box-sizing: content-box;
  font: 200 1.4rem/1.28 "Oswald", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.program__link:hover {
  background-color: #5eaa2f;
}
.program__link:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 769px) {
  .program__link {
    display: inline-block;
    width: 190px;
    padding: 14px 26px;
    font: 200 2rem/1 "Oswald", Arial, sans-serif;
  }
}

.program__image {
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .program__image {
    position: absolute;
    top: 167px;
  }
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
@media (min-width: 769px) {
  .site-list {
    width: 440px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) {
  .site-list {
    width: auto;
  }
}

@media (min-width: 769px) {
  .site-list__item:not(:last-child) {
    margin-right: 24px;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active:after {
    content: "";
    display: block;
    background-color: #68b738;
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;
    height: 2px;
  }
}
@media (min-width: 1440px) {
  .site-list__item--active:after {
    content: "";
    display: block;
    background-color: #68b738;
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;
    height: 2px;
  }
  .site-list__item--active-white:after {
    content: "";
    display: block;
    background-color: #ffffff;
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;
    height: 2px;
  }
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}
@media (min-width: 769px) {
  .site-list__link {
    font: 200 1.8rem/1.33 "Oswald", Arial, sans-serif;
    text-transform: uppercase;
  }
  .site-list__link:hover {
    opacity: 0.6;
  }
  .site-list__link:active {
    opacity: 0.3;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    font: 200 2rem/1 "Oswald", Arial, sans-serif;
  }
  .site-list__link--white {
    color: #ffffff;
  }
  .site-list__link--white:hover {
    opacity: 0.6;
  }
  .site-list__link--white:active {
    opacity: 0.3;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.social__link {
  color: #000000;
  text-decoration: none;
}

.title--large {
  font: 200 3.6rem/1 "Oswald", Arial, sans-serif;
}
@media (min-width: 769px) {
  .title--large {
    font: 200 6rem/1 "Oswald", Arial, sans-serif;
  }
}
.title--medium {
  font: 200 3.6rem/1.11 "Oswald", Arial, sans-serif;
}
@media (min-width: 769px) {
  .title--medium {
    font: 200 6rem/1 "Oswald", Arial, sans-serif;
  }
}
.title--small {
  font: 200 2.4rem/1.54 "Oswald", Arial, sans-serif;
}
@media (min-width: 769px) {
  .title--small {
    font: 200 3.6rem/1 "Oswald", Arial, sans-serif;
  }
}
.title--extra-small {
  font: 200 2.4rem/1 "Oswald", Arial, sans-serif;
}
@media (min-width: 769px) {
  .title--extra-small {
    font: 200 3rem/1.23 "Oswald", Arial, sans-serif;
  }
}

.location-address-wrapper--grey {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .location-address-wrapper--grey {
    background-color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */