.button {
  @include link-reset;
  @include button-reset;

  color: $color-2;
  font: $font-button-mobile;
  text-transform: uppercase;
  text-align: center;

  background-color: $background-color-3;

  &:hover {
    background-color: $background-color-14;
  }

  &:active {
    color: rgba($color-2, 0.3);
  }
}
