.button {
  @include link-reset;
  @include button-reset;

  color: $color-2;
  font: $font-button-mobile;
  text-transform: uppercase;
  text-align: center;

  background-color: $background-color-3;

  &:hover {
    background-color: $background-color-14;
  }

  &:active {
    color: rgba($color-2, 0.3);
  }

  &:focus-visible {
    outline: none;

    background-color: $background-color-14;
  }

  &--grey {
    background-color: $background-color-4;

    color: $color-5;

    &:hover {
      background-color: $background-color-19;
    }

    &:active {
      color: rgba($color-5, 100%);
    }

    &:focus-visible {
      outline: none;

      background-color: $background-color-19;
    }
  }
}
