.cat-result {
  display: flex;
  justify-content: center;

  margin: 0 20px;

  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin: 0;

    left: -47px;

    width: 100vw;

    &::after {
      content: "";

      width: 100%;
      height: 462px;

      position: absolute;
      bottom: -99px;
      z-index: -1;

      background-color: $background-color-7;
    }
  }
}

.cat-result__image {
  &:first-child {
    margin-right: 3px;
  }
}

.cat-result__button-range {
  @include button-reset;

  position: absolute;
  top: 0;
  left: 121px;
}
