.catalog-card {
  padding: 22px 20px 24px;
  border-top: 1px solid $background-color-19;

  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto auto;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px;

    grid-template-columns: auto;
    grid-template-rows: 139px auto auto;
    row-gap: 22px;

    width: 324px;
    min-height: 430px;

    background-color: $background-color-4;
  }
}

.catalog-card__image {
  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    transform: translate(-50%, -69%);
  }
}

.catalog-card__heading {
  @include indent-reset;
  margin: 0 0 14px;

  width: 80px;

  font: $font-heading-catalog-card-mobile;
  text-transform: uppercase;
  color: $color-8;

  @media (min-width: $tablet-width) {
    font: $font-heading-catalog-card-tablet;
  }
}

.catalog-card__quantity {
  @include indent-reset;

  display: flex;
  justify-content: space-between;
}

.catalog-card__quantity-item {
  font: $font-text-catalog-card-mobile;
  color: $color-5;

  @media (min-width: $tablet-width) {
    font: $font-text-catalog-card-tablet;
  }
}

.catalog-card__text {
  @include indent-reset;
  font: $font-text-catalog-card-mobile;
}

.catalog-card__link {
  padding: 10px 20px;

  grid-row: 2 / 3;
  grid-column: 1 / -1;

  font: $font-button-mobile;
}
