.catalog-card {
  padding: 22px 20px 24px;
  border-top: 1px solid $background-color-19;

  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto auto;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px;

    grid-template-columns: auto;
    grid-template-rows: 139px auto min-content;
    row-gap: 22px;

    width: 324px;
    min-height: 430px;

    background-color: $background-color-4;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;

    width: 245px;
    min-height: 430px;

    row-gap: 12px;
  }
}

.catalog-card__link-description {
  @include link-reset;

  display: grid;
  grid-template-columns: repeat(2, 2fr);

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto;
    grid-template-rows: 161px auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 151px auto;
  }
}

.catalog-card__image {
  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    transform: translate(-50%, -75%);

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    transform: translate(-50%, -73%);
  }
}

.catalog-card__heading {
  @include indent-reset;
  margin: 0 0 14px;

  width: 80px;

  font: $font-heading-catalog-card-mobile;
  text-transform: uppercase;
  color: $color-8;

  @media (min-width: $tablet-width) {
    margin: 0 auto 21px;

    width: 159px;

    font: $font-heading-catalog-card-tablet;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 25px 4px;
  }
}

.catalog-card__quantity {
  @include indent-reset;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px solid $background-color-13;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 8px;
    padding: 0 0 8px;
  }
}

.catalog-card__quantity-item {
  font: $font-text-catalog-card-mobile;
  color: $color-5;

  @media (min-width: $tablet-width) {
    font: $font-text-catalog-card-tablet;
  }
}

.catalog-card__text {
  @include indent-reset;
  font: $font-text-catalog-card-mobile;
}

.catalog-card__link {
  padding: 10px 20px;

  grid-row: 2 / 3;
  grid-column: 1 / -1;

  font: $font-button-mobile;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
}
