.checkbox-input {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.checkbox-input[disabled] {
  pointer-events: none;

  opacity: 0.3;
}

.checkbox-input__label {
  display: block;

  padding: 7px 0 0 45px;

  font: $font-label-mobile;
  text-transform: uppercase;
  color: $color-5;

  position: relative;

  &::before {
    content: "";
    display: block;

    width: 30px;
    height: 30px;

    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid $background-color-13;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      top: -1px;
    }
  }

  &::after {
    content: "";
    display: none;

    width: 26px;
    height: 26px;

    background: url("../img/checkbox-tick.svg") no-repeat center;

    position: absolute;
    top: 3px;
    left: 2px;

    @media (min-width: $tablet-width) {
      background-size: 48px 36px;

      top: 7px;
      left: 7px;
    }

    @media (min-width: $desktop-width) {
      top: 6px;
    }
  }

  &:hover {
    cursor: pointer;

    &::before {
      border-color: $background-color-18;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 6px 0 0 60px;

    font: $font-label-tablet;
  }

  @media (min-width: $tablet-width) {
    padding: 5px 0 0 60px;
  }
}

.checkbox-input__input[disabled] {
  pointer-events: none;

  opacity: 0.3;
}

.checkbox-input__label[disabled] {
  pointer-events: none;

  opacity: 0.3;
}

.checkbox-input__input:focus-visible + .checkbox-input__label::before {
  border-color: $background-color-18;
}

.checkbox-input__input:checked + .checkbox-input__label::after {
  display: block;
}
