.living-example {
  background-color: $background-color-12;
}

.living-example__wrapper {
  padding-top: 25px;
  padding-bottom: 39px;
}

.living-example__title {
  @include margin-reset;
  margin-bottom: 40px;
  padding-left: 21px;

  font: $font-title-large-mobile;
}

.living-example__text {
  @include margin-reset;
  margin-bottom: 19px;
  padding-left: 20px;

  font: $font-text-medium-mobile;
  color: $color-5;
}

.living-example__list {
  margin: 0 20px 35px;

  display: flex;
  justify-content: space-between;
}

.living-example__item {
  padding: 15px 0 0;
  border: 1px solid $background-color-13;
  border-radius: 5px;

  width: 124px;
  min-height: 56px;

  text-align: center;

  position: relative;
}

.living-example__item-heading {
  font: $font-title-living-example-heading-mobile;
  text-transform: uppercase;
}

.living-example__item-text {
  @include indent-reset;

  font: $font-text-small-mobile;
  color: $color-5;

  width: 87px;
  background-color: $background-color-12;
}

.living-example__item {
  &:first-child {
    .living-example__item-text {
      width: 81px;

      position: absolute;
      bottom: -17px;
      left: 20px;
    }
  }

  &:nth-child(2) {
    .living-example__item-text {
      position: absolute;
      bottom: -17px;
      left: 17px;
    }
  }
}

.living-example__result {
  margin-bottom: 21px;

  text-align: center;
}

.living-example__result-expenses {
  font: $font-title-living-example-result-mobile;
  text-transform: uppercase;
}

.living-example__result-price {
  font: $font-title-living-example-result-mobile;
  text-transform: uppercase;
}
