.living-example {
  background-color: $background-color-12;
}

.living-example__wrapper {
  padding-top: 25px;
}

.living-example__title {
  @include margin-reset;
  margin-bottom: 40px;
  padding-left: 21px;

  font: $font-title-large-mobile;
}

.living-example__text {
  @include margin-reset;
  padding-left: 20px;

  font: $font-text-medium-mobile;
  color: $color-5;
}

.living-example__item-heading {
  font: $font-title-living-example-heading-mobile;
  text-transform: uppercase;
}

.living-example__item-text {
  @include indent-reset;
  font: $font-text-small-mobile;
  color: $color-5;
}

.living-example__result-expenses {
  font: $font-title-living-example-result-mobile;
  text-transform: uppercase;
}

.living-example__result-price {
  font: $font-title-living-example-result-mobile;
  text-transform: uppercase;
}
