.living-example__title {
  @include margin-reset;
  font: $font-title-large-mobile;
}

.living-example__text {
  @include margin-reset;
  font: $font-text-medium-mobile;
  color: $color-5;
}

.living-example__item-heading {
  font: $font-title-living-example-heading-mobile;
  text-transform: uppercase;
}

.living-example__item-text {
  @include indent-reset;
  font: $font-text-small-mobile;
  color: $color-5;
}

.living-example__result-expenses {
  font: $font-title-living-example-result-mobile;
  text-transform: uppercase;
}

.living-example__result-price {
  font: $font-title-living-example-result-mobile;
  text-transform: uppercase;
}
