.main-header__wrapper {
  padding: 0 20px;

  background: url("../../img/logo-text-mobile.svg") no-repeat center 23px;
}

.main-header__link {
  display: inline-block;
  position: absolute;
  top: 9px;
}
