.main-header__wrapper {
  // display: flex;
  // justify-content: space-between;

  padding: 0 20px;

  position: relative;

  background: url("../../img/logo-text-mobile.svg") no-repeat center 5px;
}
