.main-nav {
  position: relative;

  padding: 65px 0 0;
}

.main-nav__toggle {
  @include button-reset;

  position: absolute;
  top: 23px;
  right: -1px;

  width: 24px;
  height: 19px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  @include list-reset;
}

/* закрытое меню */
.main-nav--closed .main-nav__toggle {
  &::after {
    content: "";
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: $background-color-1;
    box-shadow: 0px 8px 0 0 $background-color-1,
      0px 16px 0 0 $background-color-1;
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  height: 24px;

  &::before,
  &::after {
    content: "";
    display: block;

    position: absolute;

    width: 24px;
    height: 2px;

    background-color: $background-color-1;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.main-nav__link {
  @include link-reset;
  font: $font-text-nav-list-mobile;
  text-transform: uppercase;
}
