.main-header {
  @media (min-width: $tablet-width) {
    padding: 22px 30px 65px;

    min-height: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 112px 0px 109px;
  }
}

.main-header__wrapper {
  padding: 65px 0 0;

  position: relative;

  background: url("../img/logo-text-mobile.svg") no-repeat center 23px;

  @media (min-width: $tablet-width) {
    padding: 0;

    background: none;
  }
}

.main-header__link {
  display: inline-block;

  position: absolute;
  top: 10px;
  left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;

    z-index: 4;
  }
}
