.nutrition__container-description {
  padding: 27px 0 0;

  position: relative;
  z-index: 2;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $background-color-3 url("../../img/bg-nutrition-mobile.png")
      no-repeat top center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.nutrition__title {
  @include margin-reset;
  margin: 0 auto 25px;

  font: $font-title-x-large-mobile;
  color: $color-2;
  text-align: center;
}

.nutrition__text {
  @include margin-reset;
  margin: 0 auto;

  font: $font-text-nutrition-mobile;
  text-transform: uppercase;
  color: $color-2;
  text-align: center;
}
