.nutrition {
  padding: 0 0 19px;

  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 0 464px;
  }
}

.nutrition__wrapper {
  position: relative;
  z-index: 2;

  background-color: $background-color-2;

  &::before {
    content: "";
    width: 280px;
    height: 270px;

    position: absolute;
    bottom: -135px;
    left: 50%;
    z-index: 3;

    transform: translateX(-50%);

    background: url("../img/nutrition-package-mobile.png") no-repeat top center;

    @media (min-width: $tablet-width) {
      width: 709px;
      height: 609px;

      bottom: -464px;
      z-index: 1;

      background: url("../img/nutrition-package-tablet.png");
    }
  }
}

.nutrition__container-description {
  margin: 0 0 137px;
  padding: 27px 0 164px;

  position: relative;
  z-index: 2;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $background-color-10 url("../img/bg-nutrition-mobile.png")
      no-repeat top center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (min-width: $tablet-width) {
      background: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.nutrition__title {
  @include margin-reset;
  margin: 0 auto 25px;

  width: 280px;

  font: $font-title-x-large-mobile;
  color: $color-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include margin-reset;
    margin-bottom: 42px;
    padding: 0 0 0 117px;

    font: $font-title-x-large-tablet;
    color: $color-1;
    text-align: left;

    width: 534px;
  }
}

.nutrition__text {
  @include margin-reset;
  margin: 0 auto;

  width: 280px;

  font: $font-text-nutrition-mobile;
  text-transform: uppercase;
  color: $color-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include margin-reset;
    padding: 0 0 0 120px;

    width: auto;

    color: $color-1;
    font: $font-text-nutrition-tablet;
    text-align: left;
  }
}

.nutrition__link {
  display: block;

  margin: 0 20px;
  padding: 12px 20px 12px;

  font: $font-button-nutrition-mobile;

  @media (min-width: $tablet-width) {
    width: 244px;
    min-height: 54px;

    margin: 0;
    padding: 17px 0 14px;

    position: absolute;
    top: 257px;
    left: 121px;
    z-index: 3;

    font: $font-button-nutrition-tablet;
  }
}
