.nutrition {
  padding: 0 0 19px;

  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      display: block;
      width: 709px;
      height: 609px;

      background: url("../img/nutrition-package-tablet.png") no-repeat top
        center;

      position: absolute;
      top: 201px;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 0 526px 91px;

    width: 709px;
  }
}

.nutrition__wrapper {
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    width: 280px;
    height: 270px;

    position: absolute;
    bottom: -135px;
    left: 50%;
    z-index: 3;

    transform: translateX(-50%);

    background: url("../img/nutrition-package-mobile.png") no-repeat top center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.nutrition__container-description {
  margin: 0 0 137px;
  padding: 28px 0 164px;

  position: relative;
  z-index: 2;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $background-color-10 url("../img/bg-nutrition-mobile.png")
      no-repeat top center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 49px;
    padding: 0;
  }
}

.nutrition__title {
  @include margin-reset;
  margin: 0 auto 25px;

  width: 280px;

  font: $font-title-x-large-mobile;
  color: $color-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include margin-reset;
    margin-bottom: 41px;

    font: $font-title-x-large-tablet;
    color: $color-1;
    text-align: left;

    width: 534px;
  }
}

.nutrition__text {
  @include margin-reset;
  margin: 0 auto;

  width: 280px;

  font: $font-text-nutrition-mobile;
  text-transform: uppercase;
  color: $color-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include margin-reset;

    width: auto;

    color: $color-1;
    font: $font-text-nutrition-tablet;
    text-align: left;
  }
}

.nutrition__link {
  display: block;

  margin: 0 20px;
  padding: 12px 20px 12px;

  font: $font-button-nutrition-mobile;

  @media (min-width: $tablet-width) {
    width: 244px;
    min-height: 54px;

    margin: 0;
    padding: 17px 0 14px;

    position: relative;
    z-index: 4;

    font: $font-button-nutrition-tablet;
  }
}
