.program-type__list {
  @include list-reset;
}

.program-type__item {
  background-color: $background-color-4;

  position: relative;

  &::before {
    content: "";
    display: block;

    width: 50px;
    height: 50px;

    background-color: $background-color-3;
    border-radius: 50%;
  }
}

.program-type__title {
  @include margin-reset;
  font: $font-title-medium-mobile;
  text-transform: uppercase;
}

.program-type__text {
  @include margin-reset;
  font: $font-text-medium-mobile;
  color: $color-5;
}

.program-type__link {
  @include link-reset;
  font: $font-button-program-type-mobile;
  text-transform: uppercase;
}
