.radio-input {
  padding: 0 20px;

  position: relative;

  min-height: 30px;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    min-height: 40px;
  }
}

.radio-input[disabled] {
  pointer-events: none;

  opacity: 0.3;
}

.radio-input__label {
  display: block;

  padding: 7px 0 0 45px;

  position: relative;

  font: $font-label-mobile;
  text-transform: uppercase;
  color: $color-5;

  &::before {
    content: "";

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid $background-color-13;
    border-radius: 50%;

    width: 30px;
    height: 30px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;

      top: -5px;
      left: -1px;
    }

    @media (min-width: $desktop-width) {
      width: 40px;
      height: 40px;

      top: -3px;
      left: 0;
    }
  }

  &::after {
    content: "";

    display: none;

    border-radius: 50%;

    position: absolute;
    top: 8px;
    left: 8px;

    width: 13px;
    height: 13px;

    background-color: $background-color-3;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;

      top: 6px;
      left: 10px;
    }

    @media (min-width: $desktop-width) {
      top: 8px;
      left: 11px;
    }
  }

  &:hover {
    cursor: pointer;

    &::before {
      border-color: $background-color-18;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 0 59px;

    font: $font-label-tablet;
  }

  @media (min-width: $desktop-width) {
    padding: 2px 0 0 59px;
  }
}

.radio-input__input[disabled] + .radio-input__label {
  pointer-events: none;
  cursor: default;

  opacity: 0.3;
}

.radio-input__label[disabled] {
  pointer-events: none;
  cursor: default;

  opacity: 0.3;
}

.radio-input__input:focus-visible + .radio-input__label::before {
  border-color: $background-color-18;
}

.radio-input__input:checked + .radio-input__label::after {
  display: block;
}
