.social {
  @include list-reset;
  margin: 0 auto 36px;

  display: flex;
  justify-content: space-between;

  width: 41%;
}

.social__link {
  &:hover {
    path {
      fill: $background-color-3;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }
}
