.textarea {
  padding: 14px 13px 14px 14px;
  border: 1px solid $background-color-16;

  width: calc(100% - 40px);
  height: 150px;

  font: $font-label-mobile;
  text-transform: uppercase;
  color: $color-5;

  &::placeholder {
    color: inherit;
  }

  &:hover {
    border-color: $background-color-13;
  }

  &:focus {
    outline: 2px solid $background-color-5;
    outline-offset: -2px;

    border: 1px solid transparent;
  }

  &:invalid {
    outline: 2px solid $background-color-17;
    outline-offset: -2px;

    border: 1px solid transparent;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 13px 14px 19px;

    width: calc(100% - 140px);
    height: 175px;

    font: $font-label-tablet;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 13px 14px 19px;

    display: block;

    width: 1220px;
  }
}
