.text-input {
  margin: 0;
  padding: 0 20px;

  position: relative;

  display: flex;
  column-gap: 14px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.text-input__label {
  display: block;
  padding: 14px 0 0;

  font: $font-label-mobile;
  text-transform: uppercase;
  color: $color-5;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0 0;

    font: $font-label-tablet;
  }

  @media (min-width: $desktop-width) {
    font: $font-label-desktop;
  }
}

.text-input:nth-child(2) .text-input__label {
  width: 89px;

  @media (min-width: $tablet-width) {
    width: 89px;
  }

  @media (min-width: $desktop-width) {
    width: 91px;
  }
}

.text-input:nth-child(3) .text-input__label {
  width: 177px;

  @media (min-width: $tablet-width) {
    width: 151px;
  }

  @media (min-width: $desktop-width) {
    width: 156px;
  }
}

.text-input__input {
  margin: 0;
  padding: 0 40px 0 14px;
  border: 1px solid $background-color-16;

  width: 100%;
  height: 45px;

  font: $font-label-mobile;
  text-transform: uppercase;
  color: $color-5;

  &::placeholder {
    color: inherit;
  }

  &:hover {
    border-color: $background-color-13;
  }

  &:focus {
    outline: 2px solid $background-color-5;
    outline-offset: -2px;

    border: 1px solid transparent;
  }

  &:focus + .text-input__icon {
    color: #68b738;
  }

  &:invalid {
    outline: 2px solid $background-color-17;
    outline-offset: -2px;
    color: #ff8282;
    border: 1px solid transparent;
  }

  &:invalid + .text-input__icon {
    color: #ff8282;
  }

  @media (min-width: $tablet-width) {
    padding: 0 45px 0 19px;

    height: 52px;

    font: $font-label-tablet;
  }
}

.text-input__icon {
  display: block;

  position: absolute;
  top: 15px;
  right: 34px;

  @media (min-width: $tablet-width) {
    top: 18px;
    right: 85px;
  }

  @media (min-width: $desktop-width) {
    top: 19px;
    right: 16px;
  }
}
