.text-input {
  margin: 0;
  padding: 0 20px;

  display: flex;
  column-gap: 14px;

  &:last-child {
    margin: 0;
  }
}

.text-input__label {
  display: block;
  padding: 14px 0 0;

  font: $font-label-mobile;
  text-transform: uppercase;
  color: $color-5;
  text-wrap: nowrap;

  @media (min-width: $tablet-width) {
    font: $font-label-tablet;
  }

  @media (min-width: $desktop-width) {
    font: $font-label-desktop;
  }
}

.text-input__input {
  margin: 0;
  padding: 0 14px;
  border: 1px solid $background-color-16;

  width: 100%;
  height: 45px;

  font: $font-label-mobile;
  text-transform: uppercase;
  color: $color-5;

  &::placeholder {
    color: inherit;
  }

  &:hover {
    border-color: $background-color-13;
  }

  &:focus {
    outline: 2px solid $background-color-5;
    outline-offset: -2px;

    border: transparent;
  }

  &:invalid {
    outline: 2px solid $background-color-17;
    outline-offset: -2px;

    border: transparent;
  }
}
