.work-principle__wrapper {
  margin: 0 20px;
}

.work-principle__title {
  @include margin-reset;
  margin-bottom: 40px;
  padding-left: 2px;

  font: $font-title-large-mobile;
}

.work-principle__list {
  @include list-reset;
}

.work-principle__item {
  position: relative;

  display: flex;

  padding-left: 1px;

  &::before {
    content: "";
    display: block;

    position: relative;

    margin-right: 20px;
    padding-right: 60px;

    width: 60px;
    height: 60px;

    background-color: $background-color-3;
  }

  &--leaf {
    &::after {
      content: "";

      width: 25px;
      height: 28px;

      background: url("../img/leaf.svg") no-repeat;
      background-position: 0 0;

      position: absolute;
      left: 19px;
      top: 16px;
    }
  }

  &--powder {
    &::after {
      content: "";

      width: 26px;
      height: 29px;

      background: url("../img/powder.svg") no-repeat;
      background-position: 0 0;

      position: absolute;
      left: 19px;
      top: 16px;
    }
  }

  &--cutlery {
    &::after {
      content: "";

      width: 25px;
      height: 30px;

      background: url("../img/cutlery.svg") no-repeat;
      background-position: 0 0;

      position: absolute;
      left: 19px;
      top: 15px;
    }
  }

  &--watch {
    &::after {
      content: "";

      width: 26px;
      height: 31px;

      background: url("../img/watch.svg") no-repeat;
      background-position: 0 0;

      position: absolute;
      left: 19px;
      top: 15px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.work-principle__text {
  @include margin-reset;
  padding-top: 2px;

  font: $font-text-medium-mobile;
  color: $color-5;
}
